body {
    background-image: url('../static/images/ajuda_aqui_fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-bg {
    background-color: rgba(253, 224, 71 , 0.9); /* Cor preta com 50% de transparência */
}

.header-link {
    color: black; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado padrão */
    transition: color 0.3s; /* Transição suave para a cor do texto */
}
/* Outros estilos que você possa ter */

.custom-footer {
    background-color: #f97316; /* Tailwind's bg-orange-500 color */
    color: white;
}
