{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AjudaAqui{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header class="bg-yellow-300 py-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'index' %}" class="flex items-center text-white font-bold text-lg">
                <img src="{% static 'images/logo_ajuda.png' %}" alt="Logo AjudaAqui" class="h-20 mr-2">
            </a>
            <nav>
                <ul class="flex space-x-4 text-black text-2xl font-bold">
                    <li><a href="#" class="header-link hover:underline-none text-white">Home</a></li>
                    <li><a href="#" class="header-link hover:underline-none text-white">Sobre</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="text-white font-bold">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>    
    <main class="container mx-auto mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-yellow-300 py-4 mt-4 text-center">
        <p>&copy; {% now "Y" %} AjudaAqui</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
