{% extends 'core/base.html' %}
{% load static %}

{% block title %}Criar Tarefa - AjudaAqui{% endblock %}
{% block extra_css %}
<style>
    body {
        background-image: url('{% static "images/ajuda_aqui_fundo.png" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hidden {
        display: none;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        cursor: pointer;
    }

    .close-button svg {
        fill: #333;
        width: 1.5rem;
        height: 1.5rem;
    }
</style>
{% endblock %}

{% block content %}
<section class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 relative">
    <div class="max-w-md w-full space-y-8">
        <form method="post" enctype="multipart/form-data" class="bg-white bg-opacity-90 shadow-2xl rounded-2xl overflow-hidden border-4 border-yellow-400 transition-transform transform hover:scale-105">
            {% csrf_token %}
            <div class="px-8 py-10 md:px-10 relative">
                <a href="{% url 'task_list' %}" class="close-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                        <path fill="currentColor" d="M18.29 5.71a1 1 0 0 0-1.42 0L12 10.59 7.13 5.71a1 1 0 0 0-1.42 1.42L10.59 12 5.71 16.87a1 1 0 0 0 1.42 1.42L12 13.41l4.87 4.88a1 1 0 0 0 1.42-1.42L13.41 12l4.88-4.88a1 1 0 0 0 0-1.41z"/>
                    </svg>
                </a>
                <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Criar Tarefa</h2>
                <div class="space-y-6">
                    {% for field in form %}
                        <div class="{% if field.name == 'completed' %}hidden{% endif %}">
                            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-600">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="text-xs text-gray-500 mt-1">{{ field.help_text }}</p>
                            {% endif %}
                            {% if field.errors %}
                                <p class="text-xs text-red-500 mt-1">{{ field.errors }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-10">
                    <button type="submit" class="w-full py-3 px-4 bg-gradient-to-r from-yellow-400 to-yellow-500 rounded-lg text-white hover:from-yellow-500 hover:to-yellow-600 focus:outline-none focus:ring-4 focus:ring-yellow-400 transition-all duration-300">Criar</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
