{% extends 'core/base.html' %}

{% block title %}Criar Tarefa - AjudaAqui{% endblock %}

{% block content %}
<section class="max-w-lg mx-auto mt-8">
    <h2 class="text-3xl font-bold mb-4">Criar Nova Tarefa</h2>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        
        <div>
            <label for="id_task_name" class="block text-sm font-medium text-gray-700">Nome da Tarefa</label>
            <input type="text" name="task_name" id="id_task_name" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
        </div>
        <div>
            <label for="id_task_description" class="block text-sm font-medium text-gray-700">Descrição da Tarefa</label>
            <textarea name="task_description" id="id_task_description" class="mt-1 p-2 border border-gray-300 rounded-md w-full"></textarea>
        </div>
        <div>
            <label for="id_priority" class="block text-sm font-medium text-gray-700">Prioridade</label>
            <select name="priority" id="id_priority" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                <option value="1">Baixa</option>
                <option value="2">Média</option>
                <option value="3">Alta</option>
            </select>
        </div>

        <div>
            <button type="submit" class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600">Criar Tarefa</button>
        </div>
    </form>
</section>
{% endblock %}