{% extends 'core/base.html' %}
{% load static %}

{% block title %}Enviar Feedback{% endblock %}

{% block extra_css %}
<style>
    body {
        background-image: url('{% static "images/ajuda_aqui_fundo.png" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen py-8">
    <div class="bg-white border border-gray-300 rounded-lg p-8 w-full max-w-lg shadow-lg">
        <h1 class="text-center text-gray-900 text-3xl font-semibold mb-6">Envie seu Feedback</h1>

        <form method="post" class="w-full space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-end space-x-4">
                <button type="button" onclick="limparTextarea()"
                    class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded transition duration-300 ease-in-out flex items-center">
                    <i class="fas fa-eraser mr-2"></i> Limpar
                </button>

                <a href="{% url 'index' %}"
                    class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded transition duration-300 ease-in-out flex items-center">
                    <i class="fas fa-times-circle mr-2"></i> Cancelar
                </a>

                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded transition duration-300 ease-in-out flex items-center">
                    <i class="fas fa-paper-plane mr-2"></i> Enviar
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    function limparTextarea() {
        document.getElementById('id_content').value = '';  // Ajuste para o campo de feedback do Django Form
    }
</script>
{% endblock %}
