<!-- templates/feedback.html -->
{% extends 'core/base.html' %}
{% load static %}

{% block title %}Enviar Feedback{% endblock %}

{% block extra_css %}
<style>
    body {
        background-image: url('{% static "images/ajuda_aqui_fundo.png" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white border border-gray-200 grid grid-cols-6 gap-2 rounded-xl p-6 w-full max-w-lg">
        <h1 class="text-center text-gray-600 text-2xl font-bold col-span-6 mb-4">Envie seu feedback</h1>

        <textarea id="feedbackTextarea" placeholder="Valorizamos seu feedback! Conte-nos como podemos melhorar."
            class="bg-gray-100 text-gray-600 h-28 placeholder-gray-600 placeholder-opacity-50 border border-gray-200 col-span-6 resize-none outline-none rounded-lg p-2 duration-300 focus:border-gray-600"></textarea>

        <div class="flex justify-end col-span-6 space-x-4 mt-4">
            <button type="button" onclick="limparTextarea()"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full flex items-center justify-center transition duration-300 ease-in-out">
                Limpar
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 ml-2" viewBox="0 0 512 512" fill="none">
                    <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM174.6 384.1c-4.5 12.5-18.2 18.9-30.7 14.4s-18.9-18.2-14.4-30.7C146.9 319.4 198.9 288 256 288s109.1 31.4 126.6 79.9c4.5 12.5-2 26.2-14.4 30.7s-26.2-2-30.7-14.4C328.2 358.5 297.2 336 256 336s-72.2 22.5-81.4 48.1zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                </svg>
            </button>
         
            <a href="{% url 'index' %}"
                class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full flex items-center justify-center transition duration-300 ease-in-out">
                Cancelar
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 ml-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </a>

            <form action="{% url 'index' %}" method="post" class="flex items-center">
                {% csrf_token %}
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full flex items-center justify-center transition duration-300 ease-in-out">
                    Enviar
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 ml-2" viewBox="0 0 512 512" fill="none">
                        <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM174.6 318.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    function limparTextarea() {
        document.getElementById('feedbackTextarea').value = '';
    }
</script>
{% endblock %}