<!-- feedback.html -->
{% extends 'core/base.html' %}

{% block title %}Enviar Feedback{% endblock %}

{% block content %}
<section class="max-w-lg mx-auto mt-8">
    <h2 class="text-3xl font-bold mb-4">Enviar Feedback</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit" class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600">Enviar</button>
        </div>
    </form>
</section>
{% endblock %}