{% extends 'base.html' %}
{% block title %}Lista de Tarefas - AjudaAqui{% endblock %}

{% block content %}
<section class="max-w-lg mx-auto">
    <h2 class="text-3xl font-bold mb-4">Lista de Tarefas</h2>
    <ul class="divide-y divide-gray-300">
        {% for task in tasks %}
        <li class="py-4">
            <h3 class="text-xl font-semibold">{{ task.task_name }}</h3>
            <p class="text-gray-600">{{ task.task_description }}</p>
            <!-- Botão para abrir modal de edição -->
            <button type="button" class="btn btn-primary edit-task-btn"
                    data-toggle="modal" data-target="#editTaskModal"
                    data-task-id="{{ task.id }}">Editar
            </button>
            <form action="{% url 'delete_task' task.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger delete-task-btn" data-task-id="{{ task.id }}">
                    Excluir Tarefa
                </button>
            </form>
        </li>
        {% empty %}
        <li class="py-4 text-gray-600">Nenhuma tarefa encontrada.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_task' %}"
       class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 mt-4 inline-block">
        Adicionar Nova Tarefa
    </a>
</section>

<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTaskModalLabel">Editar Tarefa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo do formulário será carregado via AJAX -->
                <form id="editTaskForm" hx-post="{% url 'update_task' %}">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" id="task_id_input">
                    <!-- O template form.as_p será carregado via AJAX -->
                    <div id="form-fields">
                        <!-- Os campos do formulário serão inseridos aqui via AJAX -->
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $('.edit-task-btn').click(function() {
            var taskId = $(this).data('task-id');
            $.ajax({
                url: "{% url 'fetch_task_data' %}",
                method: 'GET',
                data: {'task_id': taskId},
                success: function (data) {
                    $('#task_id_input').val(taskId);
                    $('#form-fields').html(data.form);  // Inserir campos do formulário
                    $('#editTaskModal').modal('show');  // Exibe o modal após preencher os dados
                },
                error: function (error) {
                    console.error('Erro ao carregar dados da tarefa:', error);
                }
            });
        });

        // Submeter o formulário de edição via AJAX
        $(document).on('submit', '#editTaskForm', function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: $(this).attr('hx-post'),
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                data: formData,
                success: function(data) {
                    if (data.success) {
                        console.log('Tarefa atualizada com sucesso.');
                        $('#editTaskModal').modal('hide');  // Esconde o modal após sucesso
                    } else {
                        console.error('Erro ao atualizar tarefa:', data.error);
                    }
                },
                error: function(error) {
                    console.error('Erro ao enviar requisição AJAX:', error);
                }
            });
        });

        // Excluir tarefa via formulário POST
        $('.delete-task-form').submit(function(event) {
            event.preventDefault();
            var confirmDelete = confirm("Tem certeza que deseja excluir esta tarefa?");
            if (confirmDelete) {
                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    method: 'POST',
                    data: form.serialize(),
                    success: function(data) {
                        if (data.success) {
                            alert(data.message);  // Exibe mensagem de sucesso
                            window.location.reload();  // Recarrega a página para atualizar a lista de tarefas
                        } else {
                            console.error('Erro ao excluir tarefa:', data.error);
                        }
                    },
                    error: function(error) {
                        console.error('Erro ao enviar requisição AJAX:', error);
                    }
                });
            }
        });
    });
</script>
{% endblock %}